body {
  min-height: 100vh;
  background-image: url("/assets/img/burger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.container {
  height: 200px;
  width: 50%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.h1, form {
  height: 200px;
  width: 50%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
